<div class="header">
    <div class="first-head__block flex-head-element">
      <img src="../../../assets/img/xd.png" class="head-icons">
    </div>
    <div class="second-head__block flex-head-element">
      <a href="#" class="second-head__block__elements">Home</a>
      <a href="#" class="second-head__block__elements">About</a>
      <a href="#" class="second-head__block__elements">Project</a>
      <a href="#" class="second-head__block__elements">Blog</a>
      <a href="#" class="second-head__block__elements">Contract</a>
    </div>
    <div class="third-head__block flex-head-element">
     <img src="../../../assets/img/facebook2.png" class="head-icons third-head__block__elements" alt="icons">
     <img src="../../../assets/img/x2.png" class="head-icons third-head__block__elements" alt="icons">
     <img src="../../../assets/img/git2.png" class="head-icons third-head__block__elements" alt="icons">
     <img src="../../../assets/img/gith1.png" class="head-icons third-head__block__elements" alt="icons">   
    </div>
  </div>