<div class="main__block">
    <div class="first__block">
        <img src="/assets/img/girl.jpg" class="photo-block" alt="icons">
    </div>
<div class="second__block">
    <div class="second__block-element1">
        I am product designer, indie <br>
    
        maker, and digital namad <br>
    
        living in internets <br>
    </div> 
    <div class="second__block-element2">
        Hi, i'm Stefeny i'm a freelance product designer with 12+ years of experience  <br>
        focusing on app interfaces.<br>
    </div>
    <div class="second__block-element3">
        <button class="main-button" (click)="toggleToggler()">Download</button>
    </div>
</div>
</div>