@import "../fonts.scss";



:root {
    --grey-color: #5F646D;
}

html, body{
    color: var(--grey-color);
    font-family: 'JetBrains Mono', sans-serif;
    height: 100%;
    margin: 0;
    padding:0;
}

